/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    background-image: url("images/html.jpg");
    background-size: cover;
}
.header {
    width: 100%;
    height: 220px;
    background: rgba(255, 135, 153, 1);
}
.headerAll {
    background: #8c8786;
    height: 80px;
}

.headerTxt {
    width: 700px;
    float: left;
    text-align: right;
    padding: 0 0 0 70px;
}
.headerTxt p {
    margin: 0;

}
.headerTel {
    width: 150px;
    float: right;
    text-align: right;
    padding: 30px 60px 0 0;
}
.headerLogo {
    float: left;
    padding: 10px;
    margin-left: 50px;
    overflow:hidden;
}
.headerLogo p {
    padding: 0;
    margin: 0 0 0 -15px;
}
.headerLogo img {
    width: 100px;
    -webkit-transition: all 1s ease-out;
}
.headerLogo img:hover {
    -webkit-transform: rotate(720deg);
}
.headerNav {
    width: 500px;
    float: right;
    text-align: right;
    padding: 80px 30px 0 0;
}
.headerNav ul li {
    display: inline-block;
    padding: 0 25px;

}
.headerNav ul li a {
    text-decoration: none;
}
.bodyPost {
    background: #d8d1d0	;
    width: 960px;
    height: 810px;
    margin: 0 auto;
    padding: 10px 0 10px 10px;
}
.postBlock {
    background: #c1bbba;
    width: 580px;
    height: 450px;
    padding: 10px;
    float: left;
}
.postTitle {
    background: #8c8786;

}
.postTxt {
    text-align: left;
}
.postData {
    text-align: right;
}
.bodyLogo img {
    width: 150px;
    float: left;
    padding: 10px;
}
.bodyLogo img:hover {
    -webkit-transform: scaleX(-1);
}
.bodyNav {
    background: #4286f4;
    width: 330px;
    height: 477px;
    float: right;
    margin-top: -10px;
}
.bodyNav p{
    text-align: center;
}
.bodyNav ul li {
    padding: 10px;
}
.bodyBlock {
    background: #c1bbba;
    width: 940px;
    height: 310px;
    margin: 490px 0 0 0;
    padding: 5px;
}
.blockOne {
    background: rgba(255, 135, 153, 1);
    width: 290px;
    height: 290px;
    margin: 11px;
    float: left;
}
.blockOne p {
    text-align: center;
}
.textBlock {
    width: 120px;
    height: 190px;
    margin: 10px;
    float: left;
}
.footerBlock {
    background: #e7ed4b;
    width: 970px;
    height: 150px;
    margin: 10px 0 0 0;
    float: right;
}
.footerTitle {
    text-align: right;
    padding: 50px 450px 0 0;
}
.search {
    float: right;
    display: block;
    padding: 0 10px 70px 0;
}
.footer {
    background: #2856e0;
    width: 100%;
    height: 100px;
    margin: 150px 0 0 0;
}
.footerTxt {
    width: 700px;
    float: left;
    text-align: right;
}
.subFoot {
    float: left;
    padding: 30px 0 0 30px;
    width: 100px;
}
.copy {
    width: 100px;
    padding: 30px 50px 50px 0;
    float: right;
}
.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flexContainer .item {
    display: flex;
    width: 100px;
    height: 100px;
    background: white;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}
.flexContainer .item:hover {
    -webkit-transform: translateX(20px);
}